
/*********** Tag Selectors ********************/
body{
    margin: 0;
    background-color: #e4f9f5;
    text-align: center;
    font-family: 'Merriweather Sans', serif;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    color: #66BFBF;
}
h2{
    font-family: 'Montserrat', serif; 
    font-size: 1.5rem;  
    color: #66BFBF; 
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', serif;
    color: #11999E;
}
div{
    background-color: #e4f9f5;
    margin: 0;
}
img{margin: 0px;}


/*********** Class Selectors ********************/
.top-container{
    position: relative;
    padding-top: 100px;
    display: block;
    background-color: #e4f9f5;
    margin: 0;
}
.top-text{
    position: relative;
    top: 100px;
}
.top-cloud{
    position: absolute;
    height: 100px;
    width: 250px;
    top: 50px;
    right: 20px;
}
.bottom-cloud{
    position: absolute;
    height: 100px;
    width: 250px;
    bottom: 100px;
}
.landscape{
    position: relative;
    top: 250px; 
    margin: 0 auto; 
}
.top-span{
    text-decoration: underline;
}
.middle-container{
    position: relative;
    display: block;
    top: 246px; 
}
.bottom-container{
    position: relative;
    display: block;
    top: 246px;
}
.links-table{
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.skills{
    position: relative;
    width: 800px;
    margin: 0 auto;
}

/*********** Id Selectors ********************/
#headshot{
    height: 120px;
    width: 100px;
    padding-top: 20px;
}
#intro
{
    position: relative;
    width: 800px;
    margin: 0 auto;
}