
/*********** Tag Selectors ********************/
body{
    margin: 0;
    background-color: powderblue;
}

h1{
    margin-top: 0;
}
div{
    background-color: #e4f9f5;
    margin: 0;
}


/*********** Class Selectors ********************/
.middle-container{
    height: 200px;
    width: 200px;
    background-color: red;
}
.bottom-container{
    height: 200px;
    width: 200px;
    background-color: blue;
}
.cloud{
    height: 100px;
    width: 250px;
}
/*********** Id Selectors ********************/